[submodule "Hardware/NanoFridgeThermistat-board/kicad-lib-arduino"]
	path = Hardware/NanoFridgeThermistat-board/kicad-lib-arduino
	url = git@github.com:g200kg/kicad-lib-arduino.git
[submodule "Hardware/NanoFridgeThermistat-board/Panelization.pretty"]
	path = Hardware/NanoFridgeThermistat-board/FootprintLibs/Panelization.pretty
	url = https://github.com/madworm/Panelization.pretty.git
