.~lock*
*.vs
*.vscode
*.obj
*.o
*.a
*.out
*.lib
*.dll
[Bb]uild*

Generated

# Kicad lock files
*lck
fp-info-cache

# Don't commit auto backups from kicad
Hardware/NanoFridgeThermistat-board/NanoFridgeThermistat-board-backups