BasedOnStyle: LLVM
IndentWidth: 4
UseTab : Never
IndentCaseLabels: true

BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false

BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: All
AlignEscapedNewlines: Right
AlignTrailingComments: Always

ColumnLimit : 150
ReflowComments: true
PenaltyBreakComment: 0
#AllowAllParametersOfDeclarationOnNextLine: false
#BinPackParameters : true
BinPackArguments: true
AlignAfterOpenBracket: Align